<%-include(`../includes/head.ejs`)%>
<!-- put css link here -->
</head>
  <%-include(`../includes/nav.ejs`) %>
    

    <h1>Welcome <%=user.firstName%></h1>
    <h2>You're logged in</h2>
    <p>You will be logged in within the next few moments, if any issue, please click <a href="/my-queue">here</a></p>





<%-include(`../includes/end.ejs`) %>
<script src="/js/redirect.js"></script>
<%-include(`../includes/scripts.ejs`)%>