<%-include(`../includes/head.ejs`)%>
<link rel="stylesheet" href="/css/queue.css">
</head>
    <%-include(`../includes/nav.ejs`) %>
    <div class="flex-container flex-centre">
        <section class="welcome-text">
            <h1 class="headline text-xl font-wt-900">Hi <%=user.firstName %>!</h1>
            <h2 class="ticket-count text-m font-wt-700">You have <%=tickets.length%> active tickets</h2>
    </section>
    <!-- remember to change over ids for classes -->
    <section class="ticket-table">
        <h1 class="headline text-lg" id="ticket-text">Your Tickets</h1>
        <table class="text-xs">
            <thead class="table-header">
                <td class="head-column font-wt-700 case-header">Case Number</td>

                <td class="head-column font-wt-700 priority-header">Priority</td>
                <td class="head-column font-wt-700 last-Actioned-header">Last Actioned</td>
                <td class="head-column font-wt-700 title-header">Title</td>
                <td class="head-column font-wt-700 status-header">Status</td>
            </thead>
            <!-- In model add a row for each case and poulate qith db information -->
            <%tickets.forEach(item=>{%>
                    <tr class="row">
                        <td class="cell" id="case-cell"><%=item.dataValues.caseNo%></td>
                        <td class="cell" id="priority-cell"><%=item.dataValues.priority%></td>
                        <td class="cell" id="last-Actioned-cell"><%=item.dataValues.updatedAt%></td>
                        <td class="cell" id="title-cell"><%=item.dataValues.title%></td>
                        <td class="cell" id="status-cell"><%=item.dataValues.status%></td>
                    </tr>    
            <%})%>
            
           
            
        </table>
    </section>
    </div>
    
<%-include(`../includes/end.ejs`) %>
<script src="/js/queue.js"></script>
<%-include(`../includes/scripts.ejs`)%>